<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9ihsCaKKz4BCweeOhanN0XWLHirbnsiE">
    </script>
    <script type="text/javascript">	  
	  var map, path = new google.maps.MVCArray(),
    service = new google.maps.DirectionsService(), poly;
	
      function initialize() {
        var mapOptions = {
          center: { lat: 35.227087, lng: -80.843127},
          zoom: 11
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
			
		poly = new google.maps.Polyline({ map: map });
	    google.maps.event.addListener(map, "click", function(evt) {
			if (path.getLength() === 0) {
			  path.push(evt.latLng);
			  poly.setPath(path);
			} else {
			  service.route({
				origin: path.getAt(path.getLength() - 1),
				destination: evt.latLng,
				travelMode: google.maps.DirectionsTravelMode.WALKING
			  }, function(result, status) {
				if (status == google.maps.DirectionsStatus.OK) {
				  for (var i = 0, len = result.routes[0].overview_path.length;
					  i < len; i++) {
					path.push(result.routes[0].overview_path[i]);
				  }
				}
			  });
			}
		});
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>